* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #e0eafc, #cfdef3); /* Adds a light blue gradient */
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensures the body takes full height of the viewport */
    width: 100vw;
    font-family: 'Arial', sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #000000;
    margin: 20px 0;
}

h2 {
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    flex: 1; /* Ensures the container takes up the available space */
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

li:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #4a90e2;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
}

a:hover {
    color: #ffffff;
    background-color: #4a90e2;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.2em;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0); 
    color: #000000;
   
    margin-top: auto; 
}


.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 8em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
