body {
    font-family: "Cardo", serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

header p {
    text-align: center;
    margin: 5px 0;
}

header p a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s;
}

header p a:hover {
    color: #0056b3;
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li strong {
    color: #333;
}

.career-objective p, 
.additional-info ul li {
    margin: 0;
    padding: 5px 0;
}
