header {
    background-color: aqua;
    padding: 5px;
    text-align: center;
}

* {
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(119, 190, 190);
    padding: 10px;
    margin-top: 5px;

}

nav>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav>ul>li {
    margin: 0 10px;
}

form {
    display: flex;
    align-items: center;
}

input[type="search"] {
    padding: 5px;
    margin-right: 10px;
}

main {
    margin: 2px 0;
    margin-top: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 77vh;
    border-radius: 2px;
}

p {
    margin-left: 20px;
}

article {
    background: rgb(119, 190, 190);
    padding: 10px;
    margin-top: 20px;
    height: 100%;
}

aside {
    padding: 10px;
    height: 100%;
    margin-top: 18px;
    background: rgb(119, 190, 190);
}

footer {
    background-color: aquamarine;
    height: 25px;
}

footer>p {
    margin-top: 25px;
    margin-left: 0;

}